body {
background-color: rgb(201, 190, 171);

}
.manager {
    background-color: rgb(62, 87, 62);
}

.engineer {
    background-color: rgb(114, 114, 101);
}

.intern {
    background-color: rgb(77, 77, 156);
}